[/]
group-apps=true
group-apps-use-launchers=true
shift-click-action='MINIMIZE'
trans-use-custom-opacity=true
dot-position='BOTTOM'
click-action='CYCLE'
panel-size=38
show-show-apps-button=false
trans-use-dynamic-opacity=false
shift-middle-click-action='LAUNCH'
group-apps-label-font-color='#dddddd'
hotkeys-overlay-combo='TEMPORARILY'
show-activities-button=false
secondarymenu-contains-showdetails=true
trans-use-custom-bg=true
show-showdesktop-button=false
stockgs-keep-dash=false
isolate-monitors=true
trans-bg-color='#2e3436'
appicon-margin=4
enter-peek-mode-timeout=100
trans-panel-opacity=1.0
middle-click-action='LAUNCH'
trans-use-custom-gradient=false
appicon-padding=0
isolate-workspaces=true
